@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
    --font-family: 'Montserrat', 'sans-serif';
    --bg-color: #F1EEE9;
    --primary-color: #15133C;
    --secondary-color: #EC994B;
}

html{
    margin: 0;
}

body{
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 18px;
  margin: 0;
}

h1{
    text-transform: uppercase;
    background: linear-gradient(to right,#F1EEE9, #73777B, #F1EEE9);
    text-align: center;
    height: 100px;
    padding: 20px 0 10px 0;

}

.selects{
    width: 110px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 0 2px var(--primary-color);
    transition: all .5s ease;
    position: relative;
    font-size: 16px;
    color: var(--primary-color);
    height: 100%;
    text-align: left;
    margin: 10px;
    cursor: pointer;
    padding: 2px 5px;
}

.section1{ 
    margin: 10px
}

.col { 
    display: flex;
    flex-direction: column;
    width: 61%;
}

.inputs {
    text-align: left;

}
legend { 
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--secondary-color);
}
fieldset{
    border: var(--primary-color) solid 1px;
    border-radius: 5px;
}

.row {
    margin: 5px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

.cifrao { 
    display: inline-block;
    border: solid var(--primary-color) 1px;
    border-radius: 5px;
    padding: 3px 7px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.cifrao:nth-child(4) {
    padding: 3px 9px;
}

input[type=number]{
    border-radius: 2px;
    box-shadow: 0 0 1px var(--primary-color);
    border: var(--bg-color) solid 1px;
    padding: 5px 5px;
    margin: 2px;
    width: 120px;
    text-align: right;
    font-size: 16px;
    margin: 10px 5px;
    color: var(--primary-color);
}

.time-inputs {
    display: flex;
    justify-content: space-between;
    width: 61%;
}

#carencia{
    width: 30px;
}
#prazo{
    width: 30px;
}

.btns { 
    display: flex;
    justify-content: space-between;
}

button{
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px;
    display: inline-block;
    margin: 0px 20px;
    width: 110px;
    color: var(--bg-color);
    background: var(--primary-color);
    font-size: 16px;
}

.results {
    display: block;
    background: var(--primary-color);
    border-radius: 5px;
    height: 266px;
}

.results fieldset {

    color: var(--bg-color);
    border: var(--bg-color) solid 1px;
    margin: 15px;
}
.results div { 
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--secondary-color);
}